.navbar-default {
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(238,238,238,0.8);
}

.cover {
    background: #333 no-repeat center center;
    height: 500px;
    width: 100%;
    margin-top: -80px;
    background-size: cover;
    -webkit-box-shadow: inset 3px 3px 20px rgba(0,0,0,0.5);
    box-shadow: inset 3px 3px 20px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

article img, .content img {
    max-width: 70%;
    max-height: none;
}

.social{
    margin-bottom: 20px;
}

article p{
    margin-bottom: 25px;
}

article.about p, .content.about p, article.error, .content.error {
text-align: left;
margin-bottom: 20px;
margin-top: 10px;
}

footer{
    color: #999;
    margin-top: 30px;
}

blockquote{
    font-style: italic;
}

.twitter-tweet{
    margin-bottom: 35px !important;
}