Redirect 301 /blog/2013/04/24/sql-spatial-search-demo.html /posts/2013/04/24/sql-spatial-search-demo/
Redirect 301 /blog/2013/09/25/knockout-query-builder.html /posts/2013/09/25/knockout-query-builder/
Redirect 301 /blog/2013/08/21/knockout-sortable-tables.html /posts/2013/08/21/knockout-sortable-tables/
Redirect 301 /blog/2013/04/05/formatexception-when-creating-dbgeography-point-in-entity-framework.html /posts/2013/04/05/formatexception-when-creating-dbgeography-point-in-entity-framework/
Redirect 301 /blog/2014/02/05/50-tidal-patterns /posts/2014/02/05/50-tidal-patterns
Redirect 301 /blog/2014/01/21/tidal-breakbeats /posts/2014/01/21/tidal-breakbeats
Redirect 301 /blog/2014/01/21/live-coding-with-tidal /posts/2014/01/21/live-coding-with-tidal
Redirect 301 /blog/2014/01/07/365-tidal-patterns /posts/2014/01/07/365-tidal-patterns
Redirect 301 /blog/2013/12/18/partial-line-segments /posts/2013/12/18/partial-line-segments
Redirect 301 /blog/2013/12/02/live-coding-with-tidal /posts/2013/12/02/live-coding-with-tidal