<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mike Hodnick - live coded music</title>
  <meta name="description" content="Mike Hodnick - live coded music and web programming">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="/site/style.css"/>
  <link rel="stylesheet" href="/site/custom.css?v=1"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>
<body ng-app="plangular" class="">

<header class="relative xtable bg-light-gray light-gray">
  <div class="table bg-dark-gray">
    <div class="relative table-cell center p-responsive">
      <h1 class="h1">kindohm</h1>
      <p><small>a.k.a. Mike Hodnick</small></p>
      <p class="h3">Live-coded, algorithmic, electronic music.</p>
      <div class="p1">
        <a href="/" class="button button-blue mr1 mb1">Home</a>
        <a href="/blog.html" class="button button-blue mr1 mb1">Blog</a>
        <a href="/events" class="button button-blue mr1 mb1">Events</a>
        <a href="/contact" class="button button-blue mr1 mb1">Contact</a>
      </div>
    </div>
  </div>
</header>

<main class="py-responsive">

  <section class="measure-wide wrap px-responsive">
    <h2 class="h2 mb0">Live Coding</h2>
    <p class="h3 mb2">I write code live to make improvised electronic music. I project my screen as I perform.</p>
  </section>

  <section class="measure-wide wrap px-responsive mb2">
    <div class="center video-container">
      <iframe width="640" height="360" src="//www.youtube.com/embed/Noq5WBG8qoU?list=PLKgxw7RG3hcRJ0JoC_2eYYg99KFcjItvc" frameborder="0" allowfullscreen></iframe>    
    </div>
    <p class="h3 mb2 mt2">Sounds can vary depending on the setting. I draw 
      from styles such as IDM, drum n' bass, breakcore, ambient, and glitch... then add 
      algorithmic and experimental twists.</p>
  </section>

  <section class="measure-wide wrap px-responsive">
    <h2 class="h2 mb0">What is live-coded, algorithmic music?</h2>
    <p class="h3 mb1">Live coding is an emerging type of performance in which hybrid programmer-musicians write improvised code
      in real time to create music. Performers project their screen to the audience, resuling in a raw and genuine musical
      performance.</p>
    <p class="h3 mb1">No turn-key DJ software. No hiding behind hardware. No gadgets. Just code.</p>
    <p class="h3 mb2">Because of the algorithmic nature of live coding programming languages, live-coded music sometimes
      has an algorithmic sound. The live coder breathes creativity into algorithms and then lets go as the computer
      makes sound from those algorithms. This mechanical freedom is short-lived as the artist continuously makes
      changes.</p>
  </section>

  <section class="measure-wide wrap px-responsive">
    <h2 class="h2 mb1">Upcoming Events</h2>

    <p class="h3 mb0">Minneapolis Bitcoin Bash, August 4th 2014, 6PM</p>
    <p><a href="http://tech.mn/news/2014/07/10/bitcoin-bash-minneapolis-to-the-moon/">
      event details</a></p>

    <p class="h3 mb0">The Beat Coffeehouse, Minneapolis, August 29th 2014, 7PM</p>
    <p><a href="http://thebeatcoffee.com/The_Beat_Coffeehouse/Home_files/08-29-14_1.jpg">
      event and venue details</a></p>

    <p class="mb2">
      <a href="/events" class="p button button-big button-blue">
        View All Events</a>
    </p>

  </section>

  <section class="measure-wide wrap px-responsive mb2">
    <h2 class="h2 mb0">Press and Praise</h2>
    <p class="h3 mb2">Perfect Porridge: 
      <a href="http://perfectporridge.com/2014/05/28/livecodedaudio/">Decoding Algoraves: 
        Live Coded Audio coming to Minneapolis</a>.</p>

    <p class="h3 mb2">SD Times: 
      <a href="http://sdt.bz/content/article.aspx?ArticleID=70098&page=1">Algoraves: 
        Dancing to live coding</a></p>

    <div class="center">
      <p class="h3"><em>"was super rad and a lot of folks dug it"</em><br/>
        - <a href="http://bedlamtheatre.org/bedlam-lowertown/">Bedlam Lowertown</a></p>

      <p class="h3"><em>"sick beats dude"</em><br/>
        - Jim Ready on <a href="https://soundcloud.com/kindohm/live-coding-run-20140703/comment-191496462">soundcloud</a></p>

      <p class="h3"><em>"that was mind blowing"</em><br/>
        - The Sound Guy</p>
    </div>
  </section>

  <section class="measure-wide wrap px-responsive">
    <h1 class="h2 mb0">Recordings</h1>
    <p class="h3 mb2">Here are some direct recordings of my improvised performances:</p>
  </section>

  <section plangular data-src="http://soundcloud.com/kindohm/sets/live-coded-music" class="measure-wide wrap mb4 oh bg-dark-gray rounded">
    <div class="p-responsive mobile-center bg-center bg-cover blue shadow-darken" style="background-image: url(images/keyboard.jpg)">
      <p class="p mb0">{{ playlist.user.username }}</p>
      <h1 class="h1">{{ playlist.title }}</h1>
      <div class="clearfix">
        <div class="left mr1 mobile-block">
          <a href="" ng-click="player.previous(playlist)" class="button button-geo white">
            <div plangular-icon="previous" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="button button-geo white anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.next(playlist)" class="button button-geo white">
            <div plangular-icon="next" class="geo-24 geo-white"></div>
          </a>
        </div>
        <div class="oh mobile-block">
          <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
          <small class="left">{{ currentTime | playTime }}</small>
          <small class="right">{{ duration | playTime }}</small>
        </div>
      </div>
    </div>
    <div class="p1 clearfix">
      <ol class="ol mid-gray">
        <li ng-repeat="track in playlist.tracks" class="ml2"><a href="" ng-click="player.play(playlist.tracks, $index)" class="block white" ng-class="{ 'white': (player.playing || player.paused) != track, 'blue': (player.playing || player.paused) == track }">
          <strong>{{ track.user.username }}</strong> - {{ track.title }}
        </a></li>
      </ol>
      <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="right small mid-gray">View on SoundCloud</a>
    </div>
  </section>


  <section class="measure-wide wrap px-responsive">
    <h1 class="h2 mb0">Live Coding Patterns</h1>
    <p class="h3 mb2">In 2014, I'm making a sound pattern a day with <a href="//yaxu.org/tidal">Tidal</a>, a live-coding language. Listen:</p>
  </section>


  <section plangular data-src="http://soundcloud.com/kindohm/sets/tidal-patterns" class="measure-wide wrap mb4 oh bg-dark-gray rounded">
    <div class="p-responsive mobile-center bg-center bg-cover blue shadow-darken" style="background-image: url(images/think.jpg)">
      <p class="p mb0">{{ playlist.user.username }}</p>
      <h1 class="h1">{{ playlist.title }}</h1>
      <div class="clearfix">
        <div class="left mr1 mobile-block">
          <a href="" ng-click="player.previous(playlist)" class="button button-geo white">
            <div plangular-icon="previous" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.playPlaylist(playlist)" ng-hide="player.tracks == playlist.tracks && player.playing" class="button button-geo anim-popin">
            <div plangular-icon="play" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.pause()" ng-show="player.tracks == playlist.tracks && player.playing" class="button button-geo white anim-popin">
            <div plangular-icon="pause" class="geo-24 geo-white"></div>
          </a>
          <a href="" ng-click="player.next(playlist)" class="button button-geo white">
            <div plangular-icon="next" class="geo-24 geo-white"></div>
          </a>
        </div>
        <div class="oh mobile-block">
          <progress value="{{ currentTime / duration}}" ng-click="seekTo($event)" class="mt1 progress progress-white w100">{{ currentTime / duration}}</progress>
          <small class="left">{{ currentTime | playTime }}</small>
          <small class="right">{{ duration | playTime }}</small>
        </div>
      </div>
    </div>
    <div class="p1 clearfix">
      <ol class="ol mid-gray">
        <li ng-repeat="track in playlist.tracks" class="ml2"><a href="" ng-click="player.play(playlist.tracks, $index)" class="block white" ng-class="{ 'white': (player.playing || player.paused) != track, 'blue': (player.playing || player.paused) == track }">
          <strong>{{ track.user.username }}</strong> - {{ track.title }}
        </a></li>
      </ol>
      <a ng-href="{{ playlist.permalink_url }}" target="_blank" class="right small mid-gray">View on SoundCloud</a>
    </div>
  </section>


  <section class="relative mb4">

    <div class="relative measure-wide wrap px-responsive mb4">
      <h1 class="h2 mb0">Oh yeah, programming too</h1>
      <p class="h3 mb1">I'm an independent, full-stack web developer. I work with open-source technologies on
        front-end, .NET, and node.js stacks.</p>
      <a href="//linkedin.com/in/michaelhodnick" class="p button button-big button-blue">Profile on LinkedIn</a>
    </div>

    <div class="relative measure-wide wrap px-responsive mb4">
      <h1 class="h2 mb0">Blog</h1>
      <p class="h3 mb1">I maintain a technical blog. I write about live coding and web programming.</p>
      <a href="/blog.html" class="p button button-big button-blue">Read the Blog</a>
    </div>

    <div class="relative measure-wide wrap px-responsive">
      <a name="contact"></a>
      <h1 class="h2 mb0">Contact Me</h1>
      <p class="h3 mb1">You can reach me on a variety of services, or through the handy contact form below.</p>
      <a href="http://twitter.com/kindohm" class="p button button-big button-blue">Twitter</a>
      <a href="http://github.com/kindohm" class="p button button-big button-blue">Github</a>
      <a href="http://soundcloud.com/kindohm" class="p button button-big button-blue mb2">Soundcloud</a>

      <script src="http://www.emailmeform.com/builder/forms/jsform/08dacv1jcTCI" type="text/javascript"> </script>

    </div>
  </section>

</main>

<footer class="px-responsive py1 measure-wide wrap">
  <p class="center">Unauthorized duplication may result in sudden death or dismemberment. <br/>
    Powered by SoundCloud and <a href="//github.com/jxnblk/plangular">Plangular</a>. 
    Web design by <a href="http://jxnblk.com">Jxnblk</a>.</p>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
<script src="/js/plangular.js"></script>

</body>
</html>
