---
layout: layout
---
<div ng-app="plangular">
  <section class="mb4 mt3">
    <div class="container">
      <h2 class="caps">Live Coding</h2>
      <p class="h3 mb3">I write code live to make improvised electronic music. I project my screen as I perform.</p>

      <section plangular="https://soundcloud.com/kindohm/bedlam-2014-09-10-03" class="bg-darken-2 shadow-darken-song p1 mb4">
        <div class="clearfix">
          <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
            <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
            <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
          </div>
          <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
            <p class="caps">Live @ Bedlam Lowertown, 2014-09-10</p>
            <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
          </div>
        </div>
      </section>      

      <p><img src="/images/bedlam-bw-crop.jpg" alt="Live Coding" /></p>

    </div>
  </section>

  <section class="mb4">
    <div class="container">
      <h2 class="caps">Upcoming Events</h2>

      <table class="table-light mb3">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Oct 11-12, 2014</td>
              <td>Oct 11 @ 4PM, Oct 12 @ 12PM</td>
              <td>St. Paul Art Crawl / Tilsner Building</td>
              <td>TBA</td>
            </tr>
            <tr>
              <td>Jan 23, 2015</td>
              <td>7:30 PM</td>
              <td>Teatro @ Zeitgeist Arts, Duluth, MN</td>
              <td>TBA</td>
            </tr>
          </tbody>
        </table>

      <p><a href="/events">View All Events</a></p>
    </div>
  </section>

  <section class="mb4">
    <div class="container">
      <h2 class="caps">Press and Praise</h2>

      <p>Perfect Porridge: 
        <a href="http://perfectporridge.com/2014/05/28/livecodedaudio/">Decoding Algoraves: 
          Live Coded Audio coming to Minneapolis</a>.</p>

      <p>SD Times: 
        <a href="http://sdt.bz/content/article.aspx?ArticleID=70098&page=1">Algoraves: 
          Dancing to live coding</a></p>

      <blockquote><em>"was super rad and a lot of folks dug it"</em><br/>
        - <a href="http://bedlamtheatre.org/bedlam-lowertown/">Bedlam Lowertown</a></blockquote>

      <blockquote><em>"sick beats dude"</em><br/>
        - Jim Ready on <a href="https://soundcloud.com/kindohm/live-coding-run-20140703/comment-191496462">soundcloud</a></blockquote>

      <blockquote><em>"that was mind blowing"</em><br/>
        - The Sound Guy</blockquote>
    </div>
  </section>

  <section class="mb4">
    <div class="container">
      <h2 class="caps">Booking</h2>
      <p>Contact me about performing live or speaking at your event.</p>
      <p><a href="mailto:kindohm@gmail.com" class="button button-blue-outline">Contact Me</a></p>
    </div>
  </section>

  <section class="mb4">

    <div class="container">
      <h2 class="caps">Independent Software Development</h2>
      <p>I'm an independent, full-stack web, mobile, and enterprise developer. I work with open source and .NET
        development technologies and have over 15 years of experience.</p>
      <p><a href="//linkedin.com/in/michaelhodnick" class="button button-blue-outline">LinkedIn</a>
        <a href="//github.com/kindohm" class="button button-blue-outline">Github</a></p>
    </div>

  </section>

  <section class="mb4">
    <div class="container">
      <h2 class="caps">Blog</h2>
      <p>I maintain a technical blog. I write about live coding and web programming.</p>
      <a href="/blog.html" class="button button-blue-outline">Read the Blog</a>
    </div>
  </section>

  <section class="mb4">
    <div class="container">
      <h2 class="caps">Biography</h2>
  
      <p><img src="/images/mike.jpg" alt="Mike" class="left mr2 hide sm-show" style="max-width: 275px" />
        Mike Hodnick is a live-coding experimental electronic musician and programmer. He combines his 15 years of 
        programming experience and lifelong background in music to produce algorithmic music and one-of-a-kind
        performances. Mike fuses his love of percussion and dense rhythms with the perspective that
        musical patterns and time are rules that can be bent and broken.</p>

      <p>You can find Mike performing live-coding sets in the Minneapolis/St. Paul metro area.</p>

      <p>When not making music, Mike works as an independent software programmer and builds everything
        from web sites to mobile apps to enterprise line-of-business systems. He has deep experience with
        .NET and open source tooling. Mike works on the full stack of technologies, but has a sweet spot
        for UI and front-end development.</p>

      <p>Mike is originally from Duluth, MN and currently lives in Chaska, MN. He enjoys Minecraft, 
        cooking, playing ice hockey, and camping.</p>
      
    </div>
  </section>

</div>