---
layout: layout
---
<div>
  <section>
    <div class="container">
      <h2>Live Coding</h2>
      <p>I write code live to make improvised electronic music. I project my screen as I perform.</p>


  <div plangular="https://soundcloud.com/365tidalpatterns/pattern-364">
    
    <h1>{{ "{{user.username "}} }}</h1>
    <h1>{{ "{{ title "}} }}</h1>
    <button ng-click="play()" ng-if="player.playing != track">Play</button>
    <button ng-click="pause()" ng-if="player.playing == track">Pause</button>
    <div>
<progress style="width: 100%;background-color: black;color: green;" value="{{ currentTime / duration }}">{{ "{{ currentTime / duration "}} }}</progress>
</div>
  </div>



    </div>
  </section>

  <section class="bg-light-gray">
    <div class="container">
      <h2>What is live-coded, algorithmic music?</h2>
      <p class="p">Live coders are hybrid programmer-musicians who write improvised code
        in real time to create music. They project their screen to the audience, resuling in a raw and genuine musical
        performance.</p>
      <p>No turn-key DJ software. No hiding behind tools. <em>Just code</em>.</p>
      <p>Because of the algorithmic nature of live coding programming languages, live-coded music sometimes
        has an algorithmic feel. The live coder breathes creativity into code and then lets go as the computer
        makes sound. This mechanical freedom is often short-lived as the code continuously changes.</p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Upcoming Events</h2>

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Oct 11-12, 2014</td>
              <td>Oct 11 @ 4PM, Oct 12 @ 12PM</td>
              <td>St. Paul Art Crawl / Tilsner Building</td>
              <td>TBA</td>
            </tr>
          </tbody>
        </table>

      <p><a href="/events">View All Events</a></p>
    </div>
  </section>

  <section class="bg-dark-gray white">
    <div class="container py4 center">
      <h2>Press and Praise</h2>
      <p>Perfect Porridge: 
        <a href="http://perfectporridge.com/2014/05/28/livecodedaudio/">Decoding Algoraves: 
          Live Coded Audio coming to Minneapolis</a>.</p>

      <p>SD Times: 
        <a href="http://sdt.bz/content/article.aspx?ArticleID=70098&page=1">Algoraves: 
          Dancing to live coding</a></p>

      <div>
        <p><em>"was super rad and a lot of folks dug it"</em><br/>
          - <a href="http://bedlamtheatre.org/bedlam-lowertown/">Bedlam Lowertown</a></p>

        <p><em>"sick beats dude"</em><br/>
          - Jim Ready on <a href="https://soundcloud.com/kindohm/live-coding-run-20140703/comment-191496462">soundcloud</a></p>

        <p><em>"that was mind blowing"</em><br/>
          - The Sound Guy</p>
      </div>
    </div>
  </section>


  <section class="bg-dark-gray white">

    <div class="container">
      <h2>Oh yeah, programming too</h2>
      <p>I'm an independent, full-stack web developer. I work with open-source technologies on
        front-end, .NET, and node.js stacks.</p>
      <a href="//linkedin.com/in/michaelhodnick" class="p">Profile on LinkedIn</a>
    </div>

  </section>

  <section class="bg-light-gray">
    <div class="container center">
      <h2>Blog</h2>
      <p>I maintain a technical blog. I write about live coding and web programming.</p>
      <a href="/blog.html" class="p">Read the Blog</a>
    </div>
  </section>

  <section class="p4">
    <div class="container center">
      <a name="contact"></a>
      <h2>Contact Me</h2>
      <p>You can reach me on a variety of services, or through the handy contact form below.</p>
      <a href="http://facebook.com/mike.hodnick" class="p">Facebook</a>
      <a href="https://plus.google.com/100816691627215949415">Google+</a>
      <a href="http://twitter.com/kindohm" class="p">Twitter</a>
      <a href="http://github.com/kindohm" class="p">Github</a>
      <a href="http://soundcloud.com/kindohm" class="p">Soundcloud</a>

      <script src="http://www.emailmeform.com/builder/forms/jsform/08dacv1jcTCI" type="text/javascript"> </script>
    </div>
  </section>
</div>