<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4 social">
          <a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="fa fa-twitter fa-4x"></i>
            <div>Follow me on Twitter.</div>
          </a>
        </div>
        <div class="col-lg-2 next social">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github fa-4x"></i>
            <div>
              See my github profile.
            </div>
          </a>
        </div>
        <div class="col-lg-2 next social">
          <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
            <i class="fa fa-linkedin fa-4x"></i>
            <div>
              Connect with me on LinkedIn.
            </div>
          </a>
        </div>
      </div>
    </div>
  <footer>
    <p><small>&copy; 2014 Mike Hodnick. Unauthorized duplication may result in 
      sudden death or dismemberment.</small></p>
    </footer>
  </section>

</div>
