<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mike Hodnick - kindohm.com</title>
  <meta name="description" content="Mike Hodnick - live coded music and web programming">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/basscss.min.css?v=3"/>
  <link rel="stylesheet" href="/css/custom.css?v=3"/>
</head>
<body class="">

<header>
  <div class="bg-dark-gray bg-cover white" style="background-image: url(/images/forrest-road.jpg);">
    <div class="container pt3 pb3">
      <h1 class="md-h1 lg-h1 caps regular">kindohm</h1>
      <div class="md-table">
        <div class="md-table-cell">
          <h2 class="h4 mb0 caps">Mike Hodnick</h2>
          <p class="h4 mb0 caps">Live-coded, algorithmic, electronic music</p>
          <p class="h6 caps">(and web programming)</p>
        </div>
        <div class="md-table-cell center mb3">
          <p><a href="//twitter.com/kindohm" class="button button-blue-outline m1"><span class="js-geomicon geomicon geomicon-sm" data-icon="twitter"></span> Twitter</a>
            <a href="//facebook.com/kindohm" class="button button-blue-outline m1"><span class="js-geomicon geomicon geomicon-sm" data-icon="facebook"></span> Facebook</a></p>
        </div>
      </div>
    </div>
  </div>
</header>

<main>

{{ content }}

</main>

<footer class="mb4">
  <div class="container">
    <hr/>
    <p class="center"><small>Unauthorized duplication may result in sudden death or dismemberment.<br/>
      Audio powered by SoundCloud and <a href="//github.com/jxnblk/plangular">Plangular</a>. 
      Layout and style by <a href="http://www.basscss.com/">Basscss</a>.</small></p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="//d2v52k3cl9vedd.cloudfront.net/plangular/2.0-beta-1/ng-plangular.min.js"></script>
<script src="//d2v52k3cl9vedd.cloudfront.net/geomicons/0.2.0/geomicons.min.js"></script>

<script>
(function(){
  var icons = document.querySelectorAll('.js-geomicon');
  Geomicons.inject(icons);
})();
</script>

</body>
</html>
