<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Mike Hodnick - live coded music and web programming">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="/site/basscss.min.css"/>
  <link rel="stylesheet" href="/site/style.css"/>
  <link rel="stylesheet" href="/site/custom.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>
<body class="">

<header plangular data-src="http://soundcloud.com/365tidalpatterns/pattern-220" class="relative xmin-h100 xtable bg-dark-gray light-gray">
  <div class="table min-h100 bg-dark-gray">
    <div class="relative table-cell center p-responsive">
      <h1 class="h1">kindohm</h1>
      <p><small>a.k.a. Mike Hodnick</small></p>
      <div class="p1">
        <a href="/" class="button button-blue mr1">Home</a>
        <a href="/blog" class="button button-blue mr1">Blog</a>
        <a href="/events" class="button button-blue mr1">Events</a>
        <a href="/contact" class="button button-blue mr1">Contact</a>
      </div>
    </div>
  </div>

</header>


<main class="py-responsive">
  <section class="measure-wide wrap px-responsive">
{{ content }}
  </section>


</main>

<footer class="px-responsive py1 measure-wide wrap">
  <hr/>
  <p class="center"><small>Unauthorized duplication may result in sudden death or dismemberment.
    Web design by <a href="http://jxnblk.com">Jxnblk</a>.</small></p>
</footer>

</body>

{% if page.customjs %}
{% for js in page.customjs %}
<script src="{{ js }}"></script>
{% endfor %}
{% endif %}

</html>
