<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mike Hodnick - live coded music</title>
  <meta name="description" content="Mike Hodnick - live coded music and web programming">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400|Open+Sans:400,400italic,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/basscss.min.css"/>
  <link rel="stylesheet" href="/css/custom.css"/>
</head>
<body ng-app="plangular" class="">

<header>
  <div class="bg-dark-gray shadow-darkener">
    <div class="container white pt3 pb3 center">
      <h1 class="h1">kindohm</h1>
      <p>a.k.a. Mike Hodnick</p>
      <p class="h3">Live-coded, algorithmic, electronic music.</p>
      <p>Oh and web programming too.</p>
    </div>
    <div class="nav mobile-nav-table nav-table-fixed center full-width nav-dark bg-dark-gray">
      <a href="/">Home</a>
      <a href="/events">Events</a>
      <a href="/blog.html">Blog</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</header>

<main>

{{ content }}

</main>

<footer class="mb4">
  <div class="container">
    <hr/>
    <p class="center"><small>Unauthorized duplication may result in sudden death or dismemberment.<br/>
      Audio powered by SoundCloud and <a href="//github.com/jxnblk/plangular">Plangular</a>. 
      Layout and style by <a href="http://www.basscss.com/">Basscss</a>.</small></p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
<script src="/js/plangular.js"></script>
<script src="/js/geomicons.min.js"></script>

</body>
</html>
