---
layout: layout
title: "Kindohm - Events"
---

<div ng-app="plangular" class="container py4">

<p class="mb3 h4"><a href="/"><span class="js-geomicon geomicon geomicon-xs" data-icon="chevron-left"></span><span class="js-geomicon geomicon geomicon-xs" data-icon="chevron-left"></span> Home</a></p>

	<!-- upcoming -->
	<section class="mb3">
		<h2 class="caps">Upcoming Events</h2>

		<h3 class="mb0">Oct 11-12, 2014, St. Paul Art Crawl</h3>
		<p>Performing a 45-min solo set each day in the Tilsner building. Oct 11th at 4PM, Oct 12th at 12PM.</p>

		<h3 class="mb0">Jan 23, 2015, Teatro @ Zeitgeist Arts, Duluth, MN</h3>
		<p>Performing with two other fantastic electronic musicians: MKR and John Keston.</p>
	</section>

	<!-- past events -->
	<h2 class="caps">Past Events</h2>

	<h3 class="h3 mb0">Sep 10, 2014, 10:30PM @ Bedlam Lowertown</h3>
	<p>Solo, late-night live-coding.</p>

	  <section plangular="https://soundcloud.com/kindohm/bedlam-2014-09-10-03" class="p1 mb4 bg-cover" style="background-image: url(/images/palms.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Live @ Bedlam Lowertown, 2014-09-10</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>      

	<h3 class="h3 mb0">Sep 10, 2014, 11:30AM, Algorithmic Lunch @ Corner Coffee</h3>
	<p>"Is that an Amen break in my sandwich?!" Live-coded music is best served with sliced beats.</p>



	  <section plangular="https://soundcloud.com/kindohm/algorithmic-lunch-2014-09-10" class="p1 mb4 bg-cover" style="background-image: url(/images/coffee.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Algorithmic Lunch</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>      

	<h3 class="h3 mb0">Jul 19, 2014, Access Space Digithon</h3>
	<p>Streamed a 1-hour set for the UK Access Space Digithon: <a href="http://digithon.lurk.org">digithon.lurk.org</a></p>


	  <section plangular="https://soundcloud.com/kindohm/access-space-digithon-live-performance-2014-07-19" class="p1 mb4 bg-cover" style="background-image: url(/images/swim.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon light-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon light-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps light-gray">Access Space Digithon</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>      



	<h3 class="h3 mb0">Aug 29, 2014, 7PM, Performance @ The Beat Coffeehouse</h3>
	<p>Solo, ambient, chill live-coding. <a href="http://thebeatcoffee.com/The_Beat_Coffeehouse/Home_files/08-29-14_1.jpg">Event and venue information</a>.</p>

	<h3 class="h3 mb0">Aug 12, 2014, Presentation @ That Conference</h3>
	<p>Presentation on live coded music at That Conference.
		<a href="https://www.thatconference.com/sessions/session/1219">Event information</a>.</p>

	<h3 class="h3 mb0">Aug 6th 2014, 6PM, Synthesthesia</h3>
	<p>Outdoor show at Union Depot Plaza in St. Paul, MN. A live-coding set, with a few other like-minded electronic artists.
		<a href="https://www.facebook.com/events/1635629663329032">
	  event details</a>.</p>

	  <section plangular="https://soundcloud.com/kindohm/live-coded-set-2014-08-06-st-paul-union-depot" class="p1 mb4 bg-cover" style="background-image: url(/posters/synthesthesia.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Kindohm @ Synthesthesia</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>      



	<h3 class="h3 mb0">Aug 04, 2014, 6PM, Live Music @ Bitcoin Bash</h3>
	<p>Solo performance at Bitcoin Bash @ CoCo Minneapolis. 
		<a href="http://tech.mn/news/2014/07/10/bitcoin-bash-minneapolis-to-the-moon/">Register to attend the event</a>.</p>

	<h3 class="h3 mb2">Jul 15, 2014, 6:30PM, pre-event music @ JavaScriptMN</h3>

	  <section plangular="https://soundcloud.com/kindohm/livecodingjsmeetup20140715" class="p1 mb4 bg-cover" style="background-image: url(/images/river-valley.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Kindohm @ JSMN 2014-07-15</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>      



	<h3 class="h3 mb0">Jul 11, 2014, 7-10PM, Performance @ Bedlam Lowertown</h3>
	<p>Solo performance @ Bedlam Lowertown. 
		<a href="http://bedlamtheatre.org/event/kindohm-%C2%AD-live%C2%ADcoded-algorithmic-electronica/">
					Event info</a>.</p>


      <div class="center video-container mb4">
        <iframe width="640" height="360" src="//www.youtube.com/embed/Noq5WBG8qoU?list=PLKgxw7RG3hcRJ0JoC_2eYYg99KFcjItvc" frameborder="0" allowfullscreen></iframe>    
      </div>


	<h3 class="h3 mb2">May 29, 2014, 6:30PM, pre-event music @ JavaScriptMN</h3>

	  <section plangular="https://soundcloud.com/kindohm/live-coding-javascript-mn-meetup-2014-05-29" class="p1 mb4 bg-cover" style="background-image: url(/images/old-school.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Kindohm @ JSMN 2014-05-29</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>  


	<h3 class="h3 mb2">Apr 24, 2014, 6:30PM, pre-event music @ JavaScriptMN</h3>

https://soundcloud.com/kindohm/live-coding-javascript-mn-meetup-2014-04-24

	  <section plangular="https://soundcloud.com/kindohm/live-coding-javascript-mn-meetup-2014-04-24" class="p1 mb4 bg-cover" style="background-image: url(/images/grass.jpg)">
	    <div class="clearfix" >
	      <div class="sm-col sm-col-2 md-col-1 lg-col-1 p1">
	        <button ng-click="play()" ng-if="player.playing != track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="play"></span></button>
	        <button ng-click="pause()" ng-if="player.playing == track" class="button-icon dark-gray"><span class="js-geomicon geomicon" data-icon="pause"></span></button>
	      </div>
	      <div class="sm-col sm-col-10 md-col-11 lg-col-11 px1">
	        <p class="caps">Kindohm @ JSMN 2014-04-24</p>
	        <progress style="width: 100%;" value='{{ "{{ currentTime / duration || 0 "}} }}' ng-click="seek($event)">{{ "{{ currentTime / duration "}} }}</progress>
	      </div>
	    </div>
	  </section>  

	<h3 class="h3 mb0">Apr 5, 2014, Presentation on Live Coding</h3>
	<p>Twin Cities Code Camp #16: <a href="http://twincitiescodecamp.com/Sessions/Spring2014">event info</a></p>

	<h3 class="h3 mb2">Mar 14, 2014, Performance @ The Beat Coffeehouse</h3>

</div>